<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .target {
        background-color: red;
    }
</style>
<body>

    <ul>
        <li th:each="dto : ${list}">
            [[${dto}]]
        </li>
    </ul>
    ---------------------------------------------------------------------------------------------------------------------------------------
    <ul>
        <li th:each="dto, state : ${list}">
            [[${state.index}]]  --- [[${dto}]]
        </li>
    </ul>

    <h3>제어문</h3>
    <ul>
        <li th:each="dto, state : ${list}" th:if="${dto.sno % 5 == 0}">
            [[${ dto }]]
        </li>
    </ul>

    <h3>th:if th unless</h3>
    <ul>
        <li th:each="dto, state : ${list}">
            <span th:if="${dto.sno % 5 ==0}" th:text="${'----------------'+ dto.sno}"></span>
            <span th:unless="${dto.sno % 5 ==0 }" th:text="${dto.first}"></span>
        </li>
    </ul>

    <h3>삼항 연산자</h3>
    <ul>
        <li th:each="dto, sate :${list}" th:text="${dto.sno % 5 == 0} ?  ${dto.sno} : ${dto.first}">
        </li>
    </ul>

    <h1>style 적용</h1>
    <ul>
        <li th:each="dto, sate :${list}" th:class="${dto.sno % 5 == 0} ? 'target'" th:text="${dto}">
        </li>
    </ul>
</body>
</html>