
ex3_bootstrap/startbootstrap-simple-sidebar-gh-pages/vendor/bootstrap/.DS_Store
ex3_bootstrap/.DS_Store
ex3_bootstrap/startbootstrap-simple-sidebar-gh-pages/.DS_Store
ex3_bootstrap/startbootstrap-simple-sidebar-gh-pages/vendor/.DS_Store
ex3_bootstrap/startbootstrap-simple-sidebar-gh-pages/.DS_Store
ex3_bootstrap/startbootstrap-simple-sidebar-gh-pages/.DS_Store

.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store