<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

        <th:block th:fragment="content">

            <h1 class="mt-4">안재영 방명록 페이지
                <!-- 생성페이지 링크 -->
                <span>
                    <a th:href="@{/guestbook/register}">
                        <button type="button" class="btn btn-outline-primary">방명록 작성</button>
                    </a>
                </span>
            </h1>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">순번</th>
                        <th scope="col">Gno</th>
                        <th scope="col">Title</th>
                        <th scope="col">Regdate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="dto : ${result.dtoList}">
                        <th scope="row">
                            <!-- 링크 처리 -->
                            <a th:href="@{/guestbook/read(gno=${dto.gno}, page=${result.page} )}">
                                [[ ${dto.gno} ]]
                            </a>
                        </th>
                        <td>[[ ${dto.title} ]]</td>
                        <td>[[ ${dto.writer} ]]</td>
                        <td>[[ ${ #temporals.format(dto.regDate, 'yyyy/MM/dd')} ]]</td>
                    </tr>
                </tbody>
            </table>
            <!-- 페이징 처리  -->
            <ul class="pagination h-100 justify-content-center align-items-center">
                <li class="page-item" th:if="${result.prev}">
                    <a class="page-link" th:href="@{/guestbook/list(page=${result.start -1})}" tabindex="-1">이전</a>
                </li>

                <li th:class=" 'page-item' + ${result.page == page ?  'active' :  ''}" th:each="page: ${result.pageList}">
                    <a th:class="page-link" th:href="@{/guestbook/list(page=${page})}">[[ ${page} ]]</a>
                </li>

                <li class="page-item" th:if="${result.next}" >
                    <a class="page-link" th:href="@{/guestbook/list(page=${result.end + 1})}">다음</a>
                </li>
            </ul>

            <div class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">모달 제목</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>모달내용입력 공간</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- msg 모달창 생성확인 -->
            <script th:inline="javascript">
                let msg = [[${msg}]];
                console.log("msg ::: " + msg);

                if(msg) {
                    $(".modal").modal();
                }

            </script>

        </th:block>

    </th:block>

</html>